.mobile-nav {
  background: rgba(0, 0, 0, 0.3);
  height: 2.5rem;
  overflow-y: hidden;
  width: 100%;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  z-index: 3;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 0.7rem 1.7rem;
  backdrop-filter: blur(15px);

  .icon-container {
    position: relative;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    left: 65%;
    gap: 10%;

    .icon {
      grid-column: 1;
      position: relative;
    }
    .title-nav {
      width: max-content;
      grid-column: 2;
      font-size: 14px;
      text-align: center;
    }
  }
}
