.nav-bottom {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: sticky;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  transition: var(--transition);

  a {
    padding: 0.4rem;
  }

  @media screen and (max-width: 600px) {
    left: 0;
    margin-left: 50%;
  }
}

.nav-top {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  padding: 0.7rem 5rem;
  z-index: 2;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  backdrop-filter: blur(15px);
  transition: var(--transition);

  @media screen and (max-width: 600px) {
    gap: 1rem;
    padding: 0.7rem 1.7rem;
  }
}
